<h3>Update Karyawan</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <label> Nama Depan </label>
            <input type="text" class="form-control" required [(ngModel)]="employee.firstName" id="firstName" name="firstName">
        </div>
        <div class="form-group">
            <label> Nama Belakang </label>
            <input type="text" class="form-control" required [(ngModel)]="employee.lastName" id="lastName" name="lasttName">
        </div>
        <div class="form-group">
            <label> Email </label>
            <input type="text" class="form-control" required [(ngModel)]="employee.emailId" id="emailId" name="emailId">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
